body{
    background: #E4E3E1;
}
nav{
    margin: 2px;
    float: left;
    width: 23%;
    background: #111111;
    color: #877f6a;
}
nav a{
    text-decoration: none;
}
#content{
    margin: 5px;
    width: 70%;
    float: left;
    background: #f3eacb;
    color: #704214;
}